---
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ColumnLimit: 120
NamespaceIndentation: None
MaxEmptyLinesToKeep: 2
FixNamespaceComments: false
AlignConsecutiveAssignments: true
BinPackParameters: false
BinPackArguments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Standard: Cpp11
DerivePointerBinding: false
PointerBindsToType: false
DerivePointerAlignment: false
PointerAlignment: Right
TabWidth: 4
UseTab: Never
